{
  "$schema": "https://ugs-config-schemas.unity3d.com/v1/remote-config.schema.json",
  "entries": {
    "languages":{
      "en" : {
        "languageCode": "en",
        "unitySystemLanguage": "English",
        "translatedLanguageName": "English",
        "enabled": "yes",
        "buttonFont": "Georgia SDF",
        "textFieldFont": "Georgia SDF",
        "description": "english language settings"
      },
      "fr" : {
        "languageCode": "fr",
        "unitySystemLanguage": "French",
        "translatedLanguageName": "Français"
        "enabled": "yes",
        "buttonFont": "Georgia SDF",
        "textFieldFont": "Georgia SDF",
        "description": "french language settings"
      }
    }
  },

  "types" : {
  }
}