{
  "$schema": "https://ugs-config-schemas.unity3d.com/v1/remote-config.schema.json",
  "entries": {
    "translation_fr":{
      "emergencyMessage": "",
      
      "gameName": "Finding Atlantis",
      "language": "Sprache",
      "chooseLanguage": "Wähle Sprache",
      "playGame": "Spielen",
      "backToGame": "Zurück zum Spiel",
      "resetTutorial": "Tutorials zurücksetzen",
      "options": "Einstellungen",
      "optionSoundeffects": "Soundeffekte",
      "optionMusic": "Musik",
      "restart": "Neustarten",
      "quit": "Beenden",
      "gameSetup": "Spiel konfigurieren",
      "notSoMeanMonsters": "Ungeheuer lauern",
      "meanMonsters": "Ungeheuer gehen auf die Jagd",
      "notPirateMode": "Friedlicher Wettstreit",
      "pirateMode": "Piratenmodus",
      "8x8mode": "Große Karte",
      "6x6mode": "Kleine Karte",
      "tutorialOn": "Tutorial",
      "tutorialOff": "Kein Tutorial",
      "startGame": "Spiel starten",
      "gameIntroductionSummaryTitle": "Spuren der Zivilisation",
      "gameIntroductionSummary6x6": "Die Seekarte enthält 4 benachbarte Atlantis-Felder (auch diagonal möglich) und 4 zufällig verteilte Artefakte.",
      "gameIntroductionSummary8x8": "Die Seekarte enthält 6 benachbarte Atlantis-Felder (auch diagonal möglich) und 6 zufällig verteilte Artefakte.",
      "seaMonster": "Seeungeheuer!",
      "monsterEffect_0": "(X), dein Kapitän ist verletzt. Das nächste Mal, dass du die Kapitän-Karte nutzt, wird sein letztes sein.",
      "monsterEffect_0_plural": "(X), eure Kapitäne sind verletzt. Das jeweils nächste Mal, dass ihr eure Kapitän-Karten nutzt, wird ihr letztes sein.",
      "monsterEffect_1": "(X), du verlierst eine Schleichfahrt-Karte. Entscheide selbst welche.",
      "monsterEffect_plural_1": "(X), ihr verliert jeweils eine Schleichfahrt-Karte. Entscheidet selbst welche.",
      "monsterEffect_2": "(X), du verlierst deinen Radiographen.",
      "monsterEffect_plural_2": "(X), ihr verliert jeweils euren Radiographen.",
      "monsterEffect_3": "(X), du wurdest auf eine Zufallsposition versetzt.",
      "monsterEffect_3_plural": "(X), ihr wurdet jeweils auf zufällige Positionen versetzt.",
      "monsterEffect_4": "(X), du verlierst deine Sonar-Karte.",
      "monsterEffect_4_plural": "(X), ihr verliert jeweils eure Sonar-Karte.",
      "ovenExplanation": "Drehe eine deiner Karten auf Ihre Rückseite. Benutze den Kompass um deine Fahrtrichtung einzustellen und halte die Karte so über den Scanner.",
      "readyToStart": "Alle Spieler an Bord!",
      "settings": "Einstellungen",
      "gameSetupChooseColor": "Wähle deine Farbe, indem du auf das entsprechende U-Boot tippst.",
      "gameSetupChoosePosition": "Wähle deine ungefähre Position am Spieltisch relativ zum Gerät, indem du auf das entsprechende Rechteck tippst.",
      "chooseClass": "CAPTAIN AUSWÄHLEN",
      "scanCardForChoosingCharacter": "Scanne deine Captain-Karte, um dich einzuloggen!",
      "astrologist": "Astrologin",
      "cartographer": "Kartograph",
      "miner": "Goldgräber",
      "navy": "Kommandant",
      "cptNemo": "Captain Nemo",
      "raider": "Räuberin",
      "sailor": "Navigator Glue",
      "spy": "Spionin",
      "initialEmergeMessage": "Markiert euch alle Spielerpositionen mit den eigenen U-Booten und den anderen Spielsteinen auf eurer Seekarte. ",
      "onlyForYou": "Diese Geheimaktion ist nur für deine Augen bestimmt!",
      "hiddenActionExplanation": "Nimm bitte das Gerät in die Hände und stelle sicher, dass niemand den Bildschirm sieht.\n\nKlicke anschließend auf das Auge.",
      "revealHiddenScreen": "AUFDECKEN >",
      "remainingActions": "Verleibende Aktionen: ",
      "isTurnOf": "An der Reihe: ",
      "youWentToN": "Du bist nach Norden gefahren.",
      "youWentToS": "Du bist nach Süden gefahren.",
      "youWentToW": "Du bist nach Westen gefahren.",
      "youWentToE": "Du bist nach Osten gefahren.",
      "emergedCardsBack": "Du bist aufgetaucht. Nimm all deine Karten zurück.",
      "showingRadiograph": "Das Radiographen-Ergebnis wird angezeigt.",
      "showingSonar": "Das Sonar-Ergebnis wird angezeigt.",
      "showingPeriscope": "Das Periskop-Ergebnis wird angezeigt.",
      "youLeftMine": "Du hast eine Mine hinterlassen.",
      "youMineDestroyedPrevious": "Deine Mine hat die vorherige zerstört. Beide verschwinden.",
      "doubleSecretMovement": "Weite Schleichfahrt",
      "whereDoYouGoSecretly": "Wähle eine Richtung und bewege dein U-Boot heimlich um ein Feld.",
      "whereDoYouGoSecretlyDouble": "Wähle eine Richtung und bewege dein U-Boot heimlich um zwei Felder.",
      "secretMovementSuccessful": "Du hast dich heimlich um ein Feld bewegt.",
      "firstSecretMovementSuccessful": "Du hast dich heimlich um EIN Feld bewegt.",
      "bothSecretMovementsSuccessful": "Du hast dich heimlich um zwei Felder bewegt.",
      "secondSecretMovementNotSuccessful": "Die zweite Schleichfahrt wurde NICHT ausgeführt.",
      "gefroreneWelleRequest": "Wähle einen Quadranten. Alle U-Boote darin werden auf zufällige Felder bewegt.",
      "gefroreneWelleResult": "Alle U-Boote im ausgewählten Quadranten sind auf zufälligen Feldern gelandet. Was für ein Klamauk!",
      "goldGraeberResult": "Es gibt (X) Spur(en) der Zivilisation (Atlantis oder Artefakt) in deiner 9-Felder-Nachbarschaft.",
      "artifactFoundAndMonsterAppeared": "Du hast ein Artefakt gefunden und ein Seemonster erscheinen lassen.",
      "allMonstersMoveBy1Field": "Alle anderen Monster bewegen sich zufällig um ein Feld!",
      "navGlueCardResult": "Großartiger Seemann! Diese Bewegung verringert deine Aktions-Zahl nicht.",
      "noAtlanticTraceToN": "Keine Spuren in Richtung Norden.",
      "noAtlanticTraceToS": "Keine Spuren in Richtung Süden.",
      "noAtlanticTraceToW": "Keine Spuren in Richtung Westen.",
      "noAtlanticTraceToE": "Keine Spuren in Richtung Osten.",
      "atlanticTraceToN": "Es gibt Spuren (X) Feld(er) in Richtung Norden.",
      "atlanticTraceToS": "Es gibt Spuren (X) Feld(er) in Richtung Süden.",
      "atlanticTraceToW": "Es gibt Spuren (X) Feld(er) in Richtung Westen.",
      "atlanticTraceToE": "Es gibt Spuren (X) Feld(er) in Richtung Osten.",
      "nemoActionN": "Nemo ist nach Norden gefahren. Nemo, nimm eine abgeworfene Karte zurück auf die Hand.",
      "nemoActionS": "Nemo ist nach Süden gefahren. Nemo, nimm eine abgeworfene Karte zurück auf die Hand.",
      "nemoActionW": "Nemo ist nach Westen gefahren. Nemo, nimm eine abgeworfene Karte zurück auf die Hand.",
      "nemoActionE": "Nemo ist nach Osten gefahren. Nemo, nimm eine abgeworfene Karte zurück auf die Hand.",
      "movedToAdjascentArtifactAndRecovered": "Du wurdest auf ein angrenzendes Feld mit einem Artefakt verschoben und du hast es geborgen. Ziehe zwei Artefaktkarten, schaue sie dir an und behalte eine.",
      "noAdjascentArtifact": "Es gibt keine Artefakte auf angrenzenden Feldern. Nichts passiert.",
      "xWonGame": "(X) hat gewonnen. Glückwunsch!",
      "atlantisGuessWrong": "Was zur Alge?! Das war leider nicht richtig. Du findest dich jetzt auf einem zufälligen Feld der Karte wieder und verlierst den Rest deines Zuges.",
      "ownMineHitYou": "Deine eigene Mine hat dich getroffen. Wirf wenn möglich zwei Karten ab (außer der Auftauchen-Karte!). Die Mine wurde zerstört.",
      "aMineHitYou": "Eine Mine hat dich getroffen. Gib (X) ein bereits ausgespieltes Artefakt oder ein Artefakt aus der Hand. Falls du keine Artefakte besitzt, wirf zwei Karten von deiner Hand ab (außer der Auftauchen-Karte!). Die Mine wurde zerstört.",
      "mineHitMonster": "Eine Mine hat ein Seeungeher getroffen. Beide wurden zerstört.",
      "silentRun": "Schleichfahrt",
      "hereYouAre": "(X), hier bist du!",
      "yourInitialPosition": "Das ist deine Anfangsposition.",
      "astrologistTitle": "Astrologin",
      "astrologistText": "Wähle ein Feld und überprüfe es auf Spuren. Markiere ein Feld und tippe auf den Button.",
      "astrologistNoIntel": "Keine Spuren auf dem ausgewählten Feld!",
      "astrologistTraceIntel": "Es gibt eine Spur (Atlantis oder Artefakt) auf dem ausgewählten Feld!",
      "spyTitle": "Spionin",
      "spyText": "Sieh alle U-Boote in den acht dich umgebenden Feldern.",
      "done": "Fertig",
      "privacyOnlyForYou": "(X), diese Geheimaktion ist nur für deine Augen bestimmt.",
      "taintedGrail": "Unheiliger Gral",
      "taintedGrailText": "Alle Spieler*innen müssen zwei Karten abwerfen. „Auftauchen“ darf nicht dabei sein.\n\nLege die Karte nach dem Ausspielen offen von dir ab.",
      "portalToAtlantis": "Portmuschel",
      "youTeleportedToRandomAtlantisField": "Du wurdest auf ein zufälliges Feld von Atlantis teleportiert. Aber wo bist du nun?",
      "cardOnlyAvailableInPirateMode": "Diese Aktion ist nur im Piratenmodus verfügbar. Sortiert alle Minenmanöver und Periskope aus.",
      "seedOfYouth": "Saat der Jugend",
      "seedOfYouthText": "Erneue deine Hand, ohne aufzutauchen. Diese Aktion ist frei.\n\nLege die Karte nach dem Ausspielen offen von dir ab.",
      "davyJonesTitle": "Davy Jones' Truhe",
      "davyJonesText": "Sieh alle verleibenden und gehobenen Artefakte auf der Seekarte.",
      "poseidonsHornTitle": "Poseidons Horn",
      "poseidonsHornText": "Sieh die Positionen aller U-Boote und Seeungeheuer.",
      "guidingAmuTitle": "Weisender Ring",
      "guidingAmuText": "Erfahre wie viele Atlantisfelder in jedem Quadranten liegen.",
      "bermudaTitle": "Bermuda-Rechteck",
      "bermudaText": "Sieh ein Rechteck mit den Außemaßen von Atlantis.",
      "eternalHourglass": "Ewige Sanduhr",
      "eternalHourglassText": "Erhalte zwei zusätzliche Aktionen. Diese Aktion ist frei.\n\nLege die Karte nach dem Ausspielen offen von dir ab.",
      "sailorClassCardPopup": "Die Wellen sind auf deiner Seite. Wo fährst du hin?",
      "youFoundAtlantis": "Heilige Makrele! Du hast Atlantis gefunden!",
      "youFoundNothing": "Nichts gefunden. Deine Erforschungs- Aktion hat nichts zu Tage gebracht.",
      "foundArtifact": "Du hast ein Artefakt gefunden!",
      "foundArtifactDrawCard": "Ziehe eine Artefakt-Karte!",
      "foundArtifactMonsterWarning": "Achtung: Ein neues See-Monster lauert an dieser Stelle jetzt auf sein nächstes Opfer.",
      "tutStoryIntro1": "Wählt eure Spielerfarben, baut den entsprechenden Sichtschutz auf und versteckt dahinter euer Navigationsblatt. Organisiert euch Stifte.",
      "tutStoryIntro2": "Jede*r bekommt eine passende U-Boot-Figur und jeweils einen Spielstein der mitspielenden Farben.",
      "tutStoryIntro3": "Legt die Artefaktkarten als Stapel in die Mitte des Tischs.",
      "tutStoryIntro4": "Jede*r erhält ein Kartendeck in der gewählten Farbe. Das Minenmanöver und das Periskop bitte vorher aussortieren. Sie werden nur im Piratenmodus benötigt.",
      "tutStoryIntro5": "Sucht euch jeweils eine Captain-Karte aus und nehmt sie auf die Hand.",
      "tutStoryIntro6": "Wählt nacheinander eine Farbe und euren ungefähren Sitzplatz relativ zu dem Smartphone/Tablet in eurer Mitte aus.",
      "TutStoryGrampa1": "Ein kräftiger Windstoß lässt dich aufschauen. Der Stahlrumpf unter deinen Füßen vibriert leise. Die See ist noch ruhig, doch du riechst das aufkommende Unwetter.",
      "TutStoryGrampa2": "Du erinnerst dich an die Geschichten deines Großvaters, von fernen Ländern, exotischen Gerüchen und den sieben Weltmeeren. Selbst als die ganze Erde entdeckt schien, träumte er noch immer von einem mystischen Ort, dem sagenumwobensten von allen. „Er birgt kostbare Schätze und lang vergessene Geheimnisse, behütet von gefährlichen Wächtern.” Deine Augen leuchteten bei dieser Vorstellung. Damals hast du dir geschworen, du würdest Atlantis finden.",
      "TutStoryGrampa3": "Und heute hast du etwas, das dein Großvater sich nicht hätte vorstellen können: Ein tauchendes Boot.\nDu blickst nach Osten und siehst das U-Boot deines damaligen Freundes Captain Glue am Horizont.\n\n„Abtauchen, ihr Leichtmatrosen! Der Wettlauf beginnt!”",
      "TutStoryPuzzle1": "Findet Atlantis! Wer die versunkene Stadt zuerst komplett ortet und erforscht, gewinnt das Spiel!\n\nAuf der Spielerhilfe „Das Rätsel” seht ihr wo Atlantis verborgen sein könnte. Allerdings wird sich Atalntis immer an einem anderen Ort befinden. Ihr könnt aber die gleichen Symbole für eure Notizen nutzen. Oder du malst was du willst, wir sind ja nicht dein Chef!",
      "TutStoryPuzzle2": "Die 4 Atlantis-Felder grenzen immer direkt oder diagonal aneinander. Erforscht ihr Atlantis, dürft ihr seine Position auflösen.",
      "TutStoryPuzzle3": "Artefakte verleihen ihren Finder*innen mächtige Fähigkeiten. Erforsche eines, um es zu bergen und eine Artefakt-Karte zu ziehen. Es handelt sich meist um einmalige Aktionen.\n\nAtlantis und Artefakte werden auch als „Spuren von Zivilisation”, oder kurz „Spuren” zusammengefasst.",
      "TutStoryPuzzle4": "Obacht! Spuren (Atlantis und Artefakte) liegen IMMER auf Seebergen UND an allen ihren 4 Seiten liegt ein weiterer Seeberg an! Alle felder für die das nicht gilt sind IMMER Untiefen (das gegenteil von Seebergen)! Prüft es nach.",
      "TutStoryCards1": "Werfen wir einen Blick in eure Karten. Das sind eure Aktionsmöglichkeiten um den Meeresgrund zu erkunden. Lest sie euch einmal genau durch.",
      "TutStoryCards2": "Es gibt noch eine weitere Möglichkeit, sich fortzubewegen, die nicht auf den Karten steht: Jede Aktionskarte kann verheizt werden! Drücke dazu auf „Verheizensymbol” und scanne die VORDERSEITE. Statt der beschriebenen Aktion bewegst du dich um ein Feld in die Richtung der Kompassnadel auf der Kartenrückseite. Alle Mispieler sehen die Fahrtrichtung.",
      "TutStoryCards3": "Spielablauf: Pro Runde hat jede*r 2 Aktionen. Scannt dazu die jeweilige Karte und legt sie ab. Mit AUFTAUCHEN dürft ihr eure abgelegten Karten wieder auf die Hand nehmen.",
      "TutStoryCards4": "Auch der Captain und Artefakte werden als Aktionen genutzt. ",
      "TutStoryInitialPositions": "Das sind eure Positionen auf der Karte. Nutzt eure Spielsteine, um eure eigenen Positionen und die eurer Gegner auf der Karte vor euch zu markieren.",
      "TutStoryInitialPositions2": "Beachtet die Himmelsrichtungen. Tragt die Symbole N, W, S und E in die Windrose auf euren Seekarte ein.",
      "TutStoryInitialPositions2b": "Denkt immer daran: Norden liegt für alle Spieler in der gleichen Richtung, unabhänging von eurem Sitzplatz und eurer Orientierung. Jedes U-Boot wird sich auf all euren Karten und dem Gerät immer in die gleiche Richtung bewegen.",
      "TutStoryInitialPositions3": "Mit einer Schleichfahrt taucht ihr gleich unter und bewegt euch heimlich um ein Feld. Versucht ab dann eure Position geheim zu halten!",
      "TutEdge1": "Noch ein kleiner Hinweis am Rande: Der blaue Rand ist im 6x6-Modus nicht befahrbar und kann keine Spuren enthalten. Es können sich aber Seeberge darauf befinden, falls eine Spur am Rand liegt.",
      "TutEdge2": "Die App weist euch nie darauf hin, dass ihr am Rand seid, um euren Gegnern keine Hinweise zu geben. Der Sonar kann auch Seeberge außerhalb des Meeres anzeigen; der Radiograph schlägt bei Feldern außerhalb des Meeres einfach nicht aus.",
      "TutEdge3": "Solltet ihr aus Versehen oder gar absichtlich gegen den Rand fahren, wird die App euch ebenfalls nicht darauf hinweisen. Die App ist diskret :-)",
      "TutEdge8x8": "Im 8x8-Modus verhalten sich die blauen Felder auf euren Karten genauso wie alle anderen. Der unbefahrbare Rand wurde nicht eingezeichnet. Nutzt den Raum um das Meer herum, um Seeberge und -tiefen außerhalb des Meeres zu zeichnen.",
      "TutScanning1": "Um eine Karte einzusetzen, scanne sie mithilfe der Frontkamera mit der Vorderseite nach oben, wie dargestellt.",
      "TutScanning2": "Auf manchen Karten ist eine Kompassnadel dargestellt. Solche Karten kannst du beim Scannen drehen, um die gewünschte Wirkungsrichtung zu erzielen.",
      "TutSonar": "Mit dem Sonar erhältst du Informationen über\ndie Topographie deiner Umgebung. Erfahre, ob und wo sich in deinen 8 umgebenden Feldern Seeberge befinden. Befindest du dich am Rand der Seekarte, bekommst du sogar Informationen über diese hinaus.",
      "TutRadiograph": "Nutze den Radiographen, um zwei anliegende Felder in gegensätzliche Richtung auf Spuren (Lupensymbol) zu erforschen. Halte beim Scannen die Radiographen-karte mit der Kompassnadel in die gewünschte Richtung!",
      "TutRadiographPirateMode": "Im Piratenmodus kann der Radiograph zwischen Minen und Spuren leider nicht unterscheiden!",
      "TutPeriscope": "Mit dem Periskop erkennst du Gefahren in den 8 dich umgebenden Feldern. Es schlägt aus bei Minen und Seeungeheuern.",
      "TutSecretMove": "Nutze die Schleichfahrt, um dich verdeckt fortzubewegen. Du wählst die Richtung geheim in der App und ziehst deine Figur auf deine Karten, je nach Aktion, um ein (oder bei weiter Schleichfahrt zwei) Felder in die entsprechende Richtung vor.",
      "TutEmerge": "Jede*r noch so gute Tiefseetaucher*in muss ab und zu mal Luft holen. Auftauchen ist die einzige reguläre Möglichkeit, alle deine Karten (inkl. der Auftauchen-Karte selbst) wieder zurück auf die\nHand zu nehmen.\n\nDer Haken? Beim Auftauchen veröffentlicht die App deinen Standort.",
      "TutMoveAndMine": "Mit dieser Karte fährst du in die mit dem Kompass festgelegte\nRichtung und legst hinter dir eine Mine ab. Wir empfehlen dir, deine und fremde Minen mithilfe der beigelegten achteckigen Spielsteine zu markieren. Es kann pro Spieler immer nur eine Mine aktiv sein, eine ältere Mine desselben Spielers wird gegebenenfalls zerstört.",
      "TutExplore": "Hui! Wichtige Aktion, das Erforschen. Aufgepasst!\nHast du den Untergrund erforscht, kannst du dir sicher sein, ob sich ein Artefakt oder Atlantis oder gar keine Spuren unter dir, also auf deinem Feld, befinden. Die Aktion ist außerdem notwendig, um\n• Artefakte genauer zu untersuchen\nund damit eine Artefakt -Karte\naufzuziehen.\n• zu gewinnen! Erforsche dafür ein Atlantis-Symbol.",
      "TutArtifact": "Das Ausspielen eines Artefakts benötigt eine Aktion (falls nicht explizit anders beschrieben). Lege die Karte dann vor dir ab. Sie darf nicht wieder aufgezogen werden. Pro Person darf ein Artefakt nur einmal genutzt werden (es sei denn, es wird über eine Mine zurückgewonnen).\n\nUnglücklicherweise erzürnt das Erforschen von Artefakten\nden Ozean. Ein Seeungeheuer erwacht am selben Ort und lauert auf sein nächstes Opfer.\n\nDu als beschwörende*r Spieler*in bleibst erstmal verschont, bis du dich aus dem Staub gemacht hast.",
      "TutPirateMode": "Du spielst den Piratenmodus! Frech! Setzt Minen ein, um andere Spieler ausfindig zu machen und um ihnen Artefakte zu stehlen. Benutze das Periskop um Gefahren aufzuspüren bevor du in sie reinfährst. Hals- und Beinbruch!",
      "playYourNextCard": "Du bist dran, (X)! Spiele (scanne) eine Karte und lege sie dann auf deinen Ablagestapel.",
      "atlantisFindingHeader": "Weißt du, wo Atlantis liegt?",
      "atlantisFindingExplanation": ", markiere alle Felder von Atlantis. Sind die gewählten Felder korrekt, gewinnst du das Spiel! Anderenfalls wirst du bestraft...",
      "atlantisResolveButton": "Atlantis bergen:\nSpiel auflösen",
      "atlantisContinue": "Spiel fortsetzen",
      "showFullMap": "Ganze Karte anzeigen",
      "8x8AtlantisFields": "Das 8x8 Spielfeld beinhaltet 6 zusammenhängende Atlantis-Felder und 6 einzeln verteilte Schätze in denen sich Artefakte verbergen.",
      "6x6AtlantisFields": "Das 6x6 Spielfeld beinhaltet 4 zusammenhängende Atlantis-Felder und 4 einzeln verteilte Schätze in denen sich Artefakte verbergen.",
      "8x8AtlantisFieldsReminder": "Erinnerung: Es existieren genau 6 zusammenhängende Atlantis-Felder! Die verbindungen können diagonal, vertikal oder horizontal sein.",
      "6x6AtlantisFieldsReminder": "Erinnerung: Es existieren genau 4 zusammenhängende Atlantis-Felder! Die verbindungen können diagonal, vertikal oder horizontal sein.",
      "pleaseSelectAllAtlantisFields6x6": "Bitte wähle genau 4 Felder aus, um Atlantis vollständig zu bergen.",
      "pleaseSelectAllAtlantisFields8x8": "Bitte wähle genau 6 Felder aus, um Atlantis vollständig zu bergen.",
      "betaVersionWarning": "Wenn ihr Bugs, Textfehler oder sonstige störende Dinge findet, meldet sie uns bitte über Discord, soziale Medien oder an info@hybr.co\n\nViel Spaß!",
      "newerVersionAvailable": "neue Version verfügbar!",
      "weisenderRingCorrection": "Diese Karte zeigt, wie viele ATLANTIS-FELDER in jedem Quadranten liegen (Druckfehler auf der Karte).",
    }
  },

  "types" : {
  }
}